@keyframes pulsate {
    0%{
        transform: scale(1);
    }

    50%{
        transform: scale(1.25);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes spin {
    0%{transform: translateY(-10px) rotate(0deg);}
    /*10%{transform: translateY(0);}
    90%{transform: translateY(0);}*/
    100%{transform: translateY(10px) rotate(360deg);}
}
