
.icon-star, .icon-chat, .icon-new-message{
    width: 1rem;
    height: 1rem;
}

.icon-chat, .icon-new-message{
    width: .9rem;
    height: .9rem;
    margin-right: 2px;
}

.icon-star-lg{
    width: 1.5rem;
    height: 1.5rem;
    fill: #ffab41;
}

.icon-star-fill{
    fill: #777;
}
.icon-star-outline{
    stroke: #999
}

.btn{
    border: none;
    color:black;
    font-size: 13px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 700;
    background-color: white;
    border: 1px solid #ccd6e0;
    
    border-radius: 3px;
    box-shadow: 2px 3px 5px 0 #8888886b;
    padding: 10px 20px;
    border: 2px solid black;
}