
.icon-star, .icon-chat, .icon-new-message{
    width: 1.25rem;
    height: 1.25rem;
}

.icon-chat, .icon-new-message{
    width: .9rem;
    height: .9rem;
}

.icon-star-lg{
    width: 2rem;
    height: 2rem;
    fill: #ffab41;
}

.icon-star-fill{
    fill: #777;
}

.btn{
    border: none;
    color:black;
    font-size: 13px;
    font-weight: 300;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 700;
    background-color: white;
    border: 1px solid #ccd6e0;
}