

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.heading{
    font-family: Montserrat,sans-serif;
    font-weight: 900;
    font-size: 20px;
}

.reviews{
    display: flex;
    justify-content: center;
    width: 100%;




   
}

@media screen and (max-width:500px) {
    .reviews{
        flex-direction: column;
        align-items: center;
    }
}

.reviews__overview{
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
}

@media screen and (max-width:500px) {
    .reviews__overview{
        margin-right: 0;
        margin-bottom: 3.5rem;
        align-items: center;
    }
}

.reviews__overview--rating{
    font-family: Montserrat,sans-serif;
    font-size: 37px;
    line-height: 30px;
    font-weight: 800;

}
.reviews__overview--summary{
    font-size: 15px;
    margin-top: 10px;
    font-family: Lato,sans-serif;
}
.reviews__ratings{
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 0 1.5rem;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

@media screen and (max-width:500px) {
    .reviews__ratings{
        border: none;
        padding: none;
        margin-bottom: 3.5rem;
    }
}

.reviews__ratings:hover .reviews__ratings__summary{
    opacity: .5;
}
.reviews__ratings__summary{
    display: flex;
    align-items: center;
}
.reviews__ratings__summary:hover{
    opacity: 1 !important;
}
.reviews__ratings__bar{
    width: 11rem;
    height: 1rem;
    margin: 0 10px 0 10px;
    background-color: #f0f0f0;
}
.reviews__ratings--bar{
    height: 100%; 
    background-color: #ffab41; 

}
.reviews__ratings--bar-5-star{
    width: 80%; 
}
.reviews__ratings--bar-4-star{
    width: 60%; 
}
.reviews__ratings--bar-3-star{
    width: 20%; 
}
.reviews__ratings--bar-2-star{
    width: 17%; 
}
.reviews__ratings--bar-1-star{
    width: 5%; 

}

.reviews__ratings--count{
    color: #737978;
    font-size: 12px;
}
.reviews__actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5rem;
    
}
.reviews__actions--askquestion{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.reviews__actions--askquestion:hover{
    box-shadow: 5px 6px 8px 0 #8888886b;
    transform: translateY(-.3rem);
}

.reviews__actions--askquestion:active{
    box-shadow: none;
    transform: translateY(.1rem);
}

.reviews__actions--writereview{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;

}


.reviews__actions--writereview:hover{
    box-shadow: 5px 6px 8px 0 #8888886b;
    transform: translateY(-.3rem);
}

.reviews__actions--writereview:active{
    box-shadow: none;
    transform: translateY(.1rem);
}