/* .reviews__actions--askquestion-icon-chat{
    width: 1.75rem;
    height: 1.75rem;
    fill: black;
} */

.container{
    display: flex;
    justify-content: center;
}
/********** REVIEWS ****************/

.reviews{
    display: flex;
    justify-content: space-around;
}
.reviews__overview{
    display: flex;
    flex-direction: column;
}
.reviews__ratings{
    display: flex;
    flex-direction: column;
}
.reviews__ratings__summary{
    display: flex;
}
.reviews__actions{
    display: flex;
    flex-direction: column;
}