

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.heading{
    font-family: Montserrat,sans-serif;
    font-weight: 900;
    font-size: 20px;
    transition: all .2s;
}
.heading:hover{
    transform: scale(1.3);
    letter-spacing: 2px;
}

.reviews{
    display: flex;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width:800px) {
    .reviews{
        flex-direction: column;
        align-items: center;
    }
}

.reviews__overview{
    display: flex;
    flex-direction: column;
    margin-right: 1.5rem;
}

@media screen and (max-width:800px) {
    .reviews__overview{
        margin-right: 0;
        margin-bottom: 3.5rem;
        align-items: center;
    }
}

.reviews__overview--rating{
    font-family: Montserrat,sans-serif;
    font-size: 37px;
    line-height: 30px;
    font-weight: 800;

    

}

.reviews__overview--rating:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}


.reviews__overview--summary{
    font-size: 15px;
    margin-top: 10px;
    font-family: Lato,sans-serif;
}


#totalReviews{
    text-decoration: underline;
    font-weight: 900;
    transition: all .2s;
}
#totalReviews:hover {
    transform: scale(1.2);
}

.reviews__ratings{
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem 0 1.5rem;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

@media screen and (max-width:800px) {
    .reviews__ratings{
        border: none;
        padding: none;
        margin-bottom: 3.5rem;
    }
}

.reviews__ratings:hover .reviews__ratings__summary{
    opacity: .5;
}
.reviews__ratings__summary{
    display: flex;
    align-items: center;
}
.reviews__ratings__summary:hover{
    opacity: 1 !important;
}
.reviews__ratings__bar{
    width: 11rem;
    height: 1rem;
    margin: 0 10px 0 10px;
    background-color: #f0f0f0;
}
.reviews__ratings--bar{
    height: 100%; 
    background-color: #ffab41; 

}

.reviews__ratings--count{
    color: #737978;
    font-size: 12px;
}
.reviews__actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5rem;
    
}
.reviews__actions--askquestion{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.reviews__actions--askquestion:hover{
    box-shadow: 5px 6px 8px 0 #8888886b;
    transform: translateY(-.3rem);
}

.reviews__actions--askquestion:active{
    box-shadow: none;
    transform: translateY(.1rem);
}

.reviews__actions--writereview{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;

}


.reviews__actions--writereview:hover{
    box-shadow: 5px 6px 8px 0 #8888886b;
    transform: translateY(-.3rem);
}

.reviews__actions--writereview:active{
    box-shadow: none;
    transform: translateY(.1rem);
}

.popup{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    
    z-index: 9000;

    opacity: 0;
    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .3s;
}

.popup__content{
    width: 75%;
    height: 45%;
    background-color: #fff;
    opacity: 1;
    z-index: 9999;

    display: flex;
    flex-direction: column;
}

.popup__close{
    font-size: 3rem;
    line-height: 1;
    color: #777;
    cursor: pointer;

    align-self: flex-end;
    margin-right: 1rem;
}

.popup__form{
    font-style: italic;
    font-size: 20px;
    text-align: center;
}